@model List<ToonSaloon.Models.BlogPost>
@{
    ViewBag.Title = "AdminViewBlogPostSubmissions";
} 

<h2>AdminViewBlogPostSubmissions</h2>
@using (Html.BeginForm("AdminAddPost", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{

   

    <div class="row">
        <h1><strong>Current Posts to</strong>
        </h1>

        <table id="posts" class="table table-responsive table-bordered">
            <thead>
            <tr class="active">
                <th>Post ID</th>
                <th>Post Title</th>
                <th>Post Author</th>
                <th>Post Date</th>
                <th>Post Status</th>
            </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {

                foreach (var post in Model)
                {
                    <tr class="active">
                        <td>@post.Id</td>
                        <td>@post.Headline</td>
                        <td>@post.AuthorName</td>
                        <td>@post.DateCreated.ToShortDateString()</td>
                        <td>@post.Approved</td>
                        <td>@Html.ActionLink("Approval", "AdminApprovePost", "Admin", new { id = post.Id }, new { @class = "btn btn-sm btn-info" })|</td>
                        <td>@Html.ActionLink("Edit", "AdminEditPost", "Admin", new {id = post.Id}, new {@class = "btn btn-sm btn-info"})|</td>
                        <td>@Html.ActionLink("Delete", "AdminDeletetPost", "Admin", new {id = post.Id}, new {@class = "btn btn-sm btn-danger"})|</td>
                    </tr>
                }
            }
            else
            {
                <tr><td style="color: red">There are no post in the blog.</td></tr>
            }
            </tbody>
        </table>
    </div>
}