@model List<ToonSaloon.Models.BlogPost>
@{
    ViewBag.Title = "AdminViewToonOfTheDaySubmissions";
} 

@section styles{
    <link rel='stylesheet' href='../../Content/app/ListPageStyles.css' type='text/css' />
}

@using (Html.BeginForm("AdminAddPost", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{



    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 bpost" style="margin-bottom: 47%">
            <h1>
                <strong>Submissions to be Approved</strong>
            </h1>

            <table id="posts" class="table table-responsive table-condensed table-striped">
                <thead>
                    <tr class="active">
                        <th>Post Title</th>
                        <th>Post Author</th>
                        <th>Post Date</th>
                        <th>Post Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                {

                    foreach (var post in Model)
                    {
                            <tr class="active">
                                <td>@post.Headline</td>
                                <td>@post.AuthorName</td>
                                <td>@post.DateCreated.ToShortDateString()</td>
                                <td>@post.Approved</td>
                                <td>
                                    @Html.ActionLink("Approval", "AdminApprovePost", "Admin", new { id = post.Id }, new { @class = "btn btn-sm btn-info" })
                                @Html.ActionLink("Edit", "AdminEditPost", "Admin", new { id = post.Id }, new { @class = "btn btn-sm btn-info" })
                                @Html.ActionLink("Delete", "AdminDeletetPost", "Admin", new { id = post.Id }, new { @class = "btn btn-sm btn-danger" })
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr><td style="color: red">There are no post in the blog.</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}