@model List<ToonSaloon.Models.StaticPage>
@{
    ViewBag.Title = "ManageStaticPages";
}


<div class="row">
    <h1><strong>Manage Information Pages</strong></h1>
    @Html.ActionLink("Add", "AdminAddStaticPage", "Admin", null, new { @class = "btn btn-lg btn-success" })


    <table id="posts" class="table table-responsive table-bordered">
        <thead>
            <tr class="active">
                <th>Page ID</th>
                <th>Page Name</th>
                <th>Page Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                foreach (var page in Model)
                {
                    <tr class="active">
                        <td>@page.Id</td>
                        <td>@page.Name</td>
                        <td>@page.DateCreated.ToShortDateString()</td>
                        <td>@Html.ActionLink("Edit", "AdminEditStaticPage", "Admin", new { id = page.Id }, new { @class = "btn btn-sm btn-info" })
                        @Html.ActionLink("Delete", "AdminDeleteStaticPage", "Admin", new { id = page.Id }, new { @class = "btn btn-sm btn-danger" })</td>
                    </tr>
                }
            }
            else
            {
                <tr><td style="color: red">There are no information pages in the blog.</td></tr>
            }
        </tbody>
    </table>
</div>

