@model List<ToonSaloon.Models.BlogPost>
@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link rel='stylesheet' href='../../Content/app/unite-gallery.css' type='text/css' />
    <link rel='stylesheet' href='../../Content/app/ug-theme-default.css' type='text/css' />
    <link rel='stylesheet' href='../../Content/app/boxstyle.css' type='text/css' />
}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center" style="padding: 20px;">
        <img src="../../Images/appimages/logo.jpg" style="height: 36vh"/>
    </div>


    <div class="col-sm-1"></div>
</div>

@foreach (var post in Model)
{
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 bpost" style="width: 55vw; padding: 4%;">
            <div class="row">
                <div class="col-sm-2" style="vertical-align: top; text-align: left; margin-left: 50px;">
                    <h2 style="text-align: center">@post.DateCreated.ToString("MMM")</h2>
                    <h3 style="text-align: center">@post.DateCreated.ToString("dd")th</h3>
                </div>
                <div class="col-sm-10" style="vertical-align: top; margin-left: 100px; margin-right: 0px;">
                    <h2 style="text-align: right; padding-right: 15%">@post.Headline</h2>
                    <h4 style="text-align: right; padding-right: 15%">@post.Subtitle</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div id="gallery" class="col-sm-10" style="padding-right: 20%; display: none; margin-right: 1%; margin-left: 2%">

                    @foreach (var image in post.Imgs)
                    {
                        <img alt="@image.Title" 
                             data-image="@image.Source"
                             data-description="@image.Description">
                    }
                    @foreach (var video in post.Youtubes)
                    {
                        <img alt="@video.Id"
                             data-type="youtube"
                             data-videoid="@video.TubeId"
                             data-description="@video.Description">
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10" style="text-align: right; padding-right: 15%">
                    @post.Body
                </div>
            </div>

        </div>
        <div class="col-sm-5"></div>

    </div>
}
@section scripts{
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src='../../Scripts/app/unitegallery.min.js'></script>
    <script type='text/javascript' src='../../Scripts/app/ug-theme-default.js'></script>
    <script type='text/javascript' src='../../Scripts/app/Initgallery.js'></script> 
}