@model ToonSaloon.Models.CartoonOfTheDay
@{
    ViewBag.Title = "EmployeeDeleteToon";
}



@section styles{
    <link rel='stylesheet' href='../../Content/app/SinglePostStyle.css' type='text/css' />
}
<br />

<div class="col-sm-4 col-sm-offset-4 bpost">
    <div id="center">
        <h2 class="text-center">Delete Toon</h2>
        @using (Html.BeginForm("AdminDeleteToon", "Admin", FormMethod.Post, new { enctype = "multipart/from-data" }))
        {

            <img id="img" src="@Model.ImgUrl" />
            @Html.HiddenFor(t => t.Id)
            @Html.HiddenFor(t => t.DateCreated)
            <div class="form-group">
                <label>Show Name:</label>
                @Html.DisplayFor(t => t.ShowName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Season:</label>
                @Html.DisplayFor(t => t.Season, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Episode:</label>
                @Html.DisplayFor(t => t.Episode, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Author:</label>
                @Html.DisplayFor(t => t.Author, new { @class = "form-control" })
            </div>

            <button type="submit" class="col-sm-offset-2 btn-sm btn-success">Delete</button>
            @Html.ActionLink("Cancel", "ManageToonOfTheDay", "Employee", null, new { @class = "btn btn-sm btn-info" })

        }
    </div>
</div>


