@model ToonSaloon.Models.CartoonOfTheDay
@{
    ViewBag.Title = "EmployeeAddToon";
}

@section styles{
    <link rel='stylesheet' href='../../Content/app/SinglePostStyle.css' type='text/css' />
}

<div class="col-sm-4 col-sm-offset-4 bpost">
    <h2 class="text-center">Add Toon</h2>
    <div id="center">
        @using (Html.BeginForm("EmployeeAddToon", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Show Name</label>
                @Html.TextBoxFor(t => t.ShowName, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Season</label>
                @Html.TextBoxFor(t => t.Season, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label>Episode</label>
                @Html.TextBoxFor(t => t.Episode, new {@class = "form-control"})
            </div>

            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" name="file" id="file"/>
            </div>

            <div class="form-group">
                <label>Author</label>
                @Html.TextBoxFor(t => t.Author, new {@class = "form-control"})
            </div>

            <button type="submit" class="col-sm-offset-2 btn-lg btn-success">Add</button>
            @Html.ActionLink("Cancel", "ManageToonOfTheDay", "Employee", null, new {@class = "btn btn-lg btn-info"})


        }
    </div>
</div>

@section scripts{
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/app/Validation/jquery-validate-default.js"></script>
    <script src="~/Scripts/app/Validation/AddToon.js"></script>
}


